*{
    box-sizing: border-box;
}
body{
    background: #000000;
    color: #ffffff;
    font-family: Verdana, "Times New Roman";
    margin: 25px 25px 0px 25px;
}

h1{
    font-size: 48px;
    padding: 15px;
    text-align: center;
}

h2{font-size: 32px;
text-shadow: 2px 4px #808080;
}

p{
    font-size: 24px;
    padding-left: 15px;
    padding-bottom: 15px;
}
img{
    width: 350px;
    border: dashed 10px #ffffff;
    /* centre an image belows with the code below*/
    margin-left: auto;
    margin-right: auto;
    display: block;

}

div{
    min-height: 100px;
    padding: 20px;
    border: 3px solid #ffffff;
}
.intro{
    /* height should be 100px or more */
    height:auto;
    border: solid #ffffff 3px;
    border-radius: 15px;
    margin-top: 15px;
    padding: 20px;
}

.red{
    padding: 20px;
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 3px solid #ffffff;
    border-left: 10px solid #ffffff;
}

.blue{
    background-color:#0000ff;
    text-align: left;
    margin-right: 50px;
    border-right:10px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}
.yellow{
    background-color:#ffff00;
    /* changed font color because the white was hard to read */
    color: black;
    text-align: right;
    margin-left: 50px;
    border-bottom: 3px solid #ffffff;
    border-left: 10px solid #ffffff;
}
/* this fixes the readabiliy issues from before */
.yellow h2{
    text-shadow: 2px 4px #c7e2c7;
}

.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-bottom: 3px solid #ffffff;
    border-right: 10px solid #ffffff;

}

span{
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: none;
}

footer{
    background: linear-gradient(to right, #000000, #0000ff 25%, #0066ff 70%, #000000 100%);
}
footer p{
    font-size: 20px;
    text-align: center;
    padding: 10px 10px 10px 0px;
}